header {
    background-color: white;
    padding: 0;
    border-bottom: 1px solid green;
}

a {
    color: green;
}

a:hover {
    color: white;
    background-color: green;
}

nav ul {
    list-style-type: none;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

a.logo {
    font-weight: bold;
    padding: 1em;
}

nav ul li a {
    padding: 1em;
    
}