ul {
    display: flex;
    justify-content: center;   
    align-items: center; 
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a {
    height: 21rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column; 
    overflow: hidden;    
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.content {
    padding: 0.5rem 1rem;    
    position: relative;
}

.favorite {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not {
    color: grey;
}

.star {
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.product-item-footer {
    display: flex;
    justify-content: space-between;
}

.origins {
    flex: 9;    
}

.origins span {    
    background-color: whitesmoke;
    margin-right: .3rem;
    font-size: .8rem;
    display: inline-block;    
    color: gray;
    border-radius: 2rem;    
}

.cook-time {
    flex: 3;
    font-size: .8rem;
    text-align: right;
}

.price {
    color: #424242;
    margin-top: .5rem;
}